In [1]:
a=1

In [3]:
x=3
y=12

In [4]:
print (x+y)

15

In [5]:
# potencia
print (y**x)

1728

In [6]:
# devolver el resto de una division --> %
x = 13
y = 3
print ( x % y)

1

In [7]:
# parte entera
print (x // y)

4

In [8]:
x = 13
y = 3
print ( x == y)

False

In [10]:
print (x != y ) # es distinto ?

True

In [11]:
print (x>y) # es mayor que ?

True

In [12]:
print (x < y)  # es mayor que?

False

In [14]:
a = "Hola "
b = "mundo!"
print (a + b)

Hola mundo!

In [18]:
c = "ja! "
d = c* 3
print (d)

ja! ja! ja!

In [20]:
x = 5
y = 12
# AND

print (x>0 and y <10)

False

In [21]:
# or
print (x>0 or y<10)

True

Conversion de tipos de datos

In [24]:
a = '2'
b = 2
c = int (a)
type (c)

int

In [25]:
d = '0.24'
e = float (d)
print (e)
type (e)

0.24

float

In [26]:
# tira error porque un float deberia ser 2.5
f = '2,5'
g= float (f)

ValueError: could not convert string to float: '2,5'